.main {
  max-height: 70vh;
  border: 5px solid rgba(195, 146, 72, 0.956);
  border-radius: 20px;
  padding: 25px;
  background-color: rgba(195, 146, 72, 0.821);

  .img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
  }

  .name {
    display: inline;
    padding-inline-start: 15px;
  }

  .desc {
    .desc-label {
      padding-inline-end: 10px;
    }
  }
}
